# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environments
.venv/
venv/
ENV/
env/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Frontend build (Vite/React/Next/etc.)
dist/
build/
*.local

# Environment variables
*.env
*.env.local
.env.*.local

# Docker
*.log
volumes/

# IDE / Editor files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
